body {
    background-image: url('world.png');
    background-size: cover;
}

h1 {
    font-family: 'McLaren', cursive;
    color: green;
    text-align: center;
}

p {
    color: #181310;
}

.container {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    height: 620px;
    width: 620px;
    left: 35%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card {
    width: 200px;
    height: 200px;
    transition: all 1s linear;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.card:hover {
    transform: rotateY(180deg);
}

.front,
.back {
    display: flex;
    font-size: 30px;
    font-family: 'McLaren', cursive;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    box-sizing: content-box;
    position: absolute;
}

.front {
    box-sizing: content-box;
    background-color: #FFe8D6;
    border-color: orange;
    border-radius: 10px;
    z-index: 2;
}

.back {
    box-sizing: content-box;
    background-color: orange;
    border-color: #cccc45;
    border-radius: 10px;
    justify-content: center;
    z-index: 1;
    transform: rotateY(180deg);
}
